<div>
  <div class="chat-container">

    <input type="text" placeholder="Username" name="username" id="username" />

    <input
      type="password"
      placeholder="Password"
      name="password"
      id="password"
    />
    <button id="send">Enviar</button>
    <a href="/forgot">Olvide mi password</a>
  </div>

</div>