<div>

  <h1> Hola Que Gusto verte!!</h1>
  <form>
    <input type="text" placeholder="Nombre" name="name" id="name" />
    <input
      type="text"
      placeholder="Escribe un mensaje..."
      name="message"
      id="message"
    />
    <input
      type="file"
      id="fileinput"
      name="filename"
      accept=".jpg, .jpeg, .png"
    />
    <input type="submit" value="Enviar" id="send" />
  </form>
  <div id="messages"></div>

</div>